body{
    background-color:bisque;
    margin:auto;
}

h1{
    text-align:center;
}

input{
    text-wrap:normal;
}

#options{
    margin:auto;
    padding: 1em;
    width:max-content;
}

#request-amount {
    margin: auto;
    width: inherit;
}

#request-container {
    margin: auto;
}

#request-form {
    background-color: lightblue;
    margin: auto;
    margin-top: 10px;
    width: max-content;
    border: 1px solid black;
    padding: 1em;
}

#requests-header{
    text-align:center;
}

#request-reason{
    margin:auto;
    width:inherit;
    margin-top: 5px;
}

#request-table {
    width:90%; 
    margin:auto;
    background-color:lightblue;
    padding:1em;
}

#stats-table {
    width: 90%;
    margin: auto;
    background-color: lightblue;
    padding: 1em;
}

.submit-button-container{
    margin:auto;
    width:max-content;
    margin-top: 5px;
}

table, th, td{
    border:1px solid black;
    height:max-content;
    background-color:white;
    text-align:center;
}

#update-form {
    background-color: lightblue;
    margin: auto;
    margin-top: 10px;
    width: max-content;
    border: 1px solid black;
    padding: 1em;
}
