body{
    background-color:bisque;
    margin:auto;
}

h1{
    text-align:center;
}

#new-request{
    margin:auto;
    
}

#requests-header{
    margin-left:20px;
}

#request-container{
    margin:auto;
}

#request-form{
    margin:auto;
    width:max-content;
}

#request-amount{
    margin:auto;
}

#submit-button-container{
    margin:auto;
    width:max-content;
}

table, th, td{
    border:1px solid black;
    height:max-content;
}