body {
    background-color:bisque;
}

h1{
    text-align:center;
}

#login-form {
    background-color: lightblue;
    display: grid;
    text-align: center;
    padding: 1.5em;
    border-style: solid;
    border-color:black;
    border-width: thick;
    width: max-content;
    margin:auto;
}

#button-container{
    margin-top: 5px;
}