body{
    background-color:bisque;
    margin:auto;
}

h1{
    text-align:center;
}

#login-form {
    background-color: lightblue;
    display: grid;
    text-align: center;
    padding: 1.5em;
    border-style: solid;
    border-color: black;
    border-width: thick;
    width: max-content;
    margin: auto;
}

#button-container {
    margin-top: 5px;
}

#new-request{
    margin:auto;
    
}

#requests-header{
    margin-left:20px;
}

#request-container{
    margin:auto;
}

#request-form{
    margin:auto;
    width:max-content;
}

#request-amount{
    margin:auto;
}

#submit-button-container{
    margin:auto;
    width:max-content;
}

table, th, td{
    border:1px solid black;
    height:max-content;
}